@font-face {
font-family: segoewp;src: url(http://thepelican.me/upload/segoewp.ttf);font-weight:400;
}
body, label, input, textarea, select, button {
font-family: segoewp !important;
}
body { 
opacity: 1;background-image: none !important;background: #EEE !important;     
}
* { 
border-radius:  0px !important;-webkit-border-radius:  0px !important;-moz-border-radius: 0px !important;font-weight: normal !important;
}
.global-nav, .global-nav .well, .nav .active > a, .btn-tweet, .btn-tweet:hover, .btn-tweet:active, .nav .active > a, .card-soccer .cover {
background-image: none !important;background-repeat: repeat-x;
}
.nav .new-wrapper {
display:none;
}
.global-nav .search-input {
display: block;width: 163px;height: 14px;min-height: auto	9;padding: 6px 27px 6px 12px;font-size: 12px;line-height: 1;color: #666;background-color: #CCC;border: 0;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;-webkit-transition: none !important;-moz-transition: none !important;transition: none !important;
}
.nav li a {
position: relative;font-size: 22px !important;
}
.nav > li > a {
display: block;height: 12px;padding: 8px 12px 15px !important;font-weight: normal !important;line-height: 1;color: #888 !important;text-shadow: none !important;
}
.nav .active > a, .nav > li > a:hover {
color: #333 !important;text-decoration: none;
}
.nav .active a:hover {
color: white !important;text-decoration: none;
}
.content-header .header-inner, .content-no-header .no-header-inner {
min-height: 20px;padding: 12px;background-color: white;border-bottom: 1px solid #E8E8E8;
}
.tweet-user {
padding: 10px 12px;background-color: white !important;
}
.wrapper, .wrapper-narrow, .wrapper-permalink {
background: none !important;position: relative;width: 837px;min-height: 100%;padding: 54px 14px 15px;margin: 0 auto;
}
.content-header .header-inner, .content-no-header .no-header-inner {
min-height: 20px;padding: 12px;background-color: inherit !important;border-bottom: 1px solid #E8E8E8;
}
.stream-item, .unfocusable-stream-item {
background: inherit !important;color: #000 !important;border-left: 1px solid #E8E8E8;border-right: 1px solid #E8E8E8;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;
}
.tweet:hover, .stream-item.hovered-stream-item {
background-color: inherit !important;
}
.content-main {
float: right;width: 522px;background-color: white !important;
}
.account, .interest-category, .list, .saved-search, .tweet, .app, .discover-item {
position: relative;min-height: 51px;padding: 9px 12px;border-bottom: none !important;
}
.fullname {
color: #000 !important;font-size: 20px !important; 
}
.stats a strong {
display: block;color: #333;font-size: 20px !important;
}
.dropdown-menu li > a, .dropdown-menu .dropdown-link {
position: relative;display: block;float: none;clear: both;padding: 3px 15px 3px 22px;font-size: 12px !important;font-weight: normal;line-height: 18px;color: #333;text-shadow: none;white-space: nowrap;cursor: pointer;
}
.topbar {
position: fixed;top: 0;right: 0;left: 0;z-index: 1000;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
.global-nav {
background-position: 0 0;background-color: #EEE !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;border-top: 10px solid #222;
}
.session .dropdown-toggle .caret {
margin-left: -1px;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
i.topbar-divider {
display: inline-block;zoom: 1;vertical-align: text-top;background-image: none !important;background-position: 0 0;background-repeat: no-repeat;
}
.nav .active a {
color: white !important;text-shadow: none !important;background-color: #222;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;height: 20px !important;
}
.bird-topbar-etched {
display: none !important;
}
.nav > li > .nav-logo-link {
padding-right: 14px;padding-left: 14px;display: none !important;
}
.primary-btn, .following.first-hover .follow-btn:hover, .following .follow-btn, .following .follow-button.cancel-hover-style:hover, .following .follow-button {
color: white;text-shadow: none !important;background-color: #019AD2;background-repeat: repeat-x;background-image: none !important;filter: none !important;border-color: #057ED0;-webkit-box-shadow:  none !important;-moz-box-shadow:  none !important;box-shadow:  none !important;
}
.signup-btn {
color: white !important;text-shadow: none !important;background-color: #FD9A0F !important;background-repeat: repeat-x;background-image: none !important;filter: none !important;border-color: #FA2;
}
.signup-btn:hover {
background-color: #FD9A0F;
}
.btn {
position: relative;display: inline-block;overflow: visible;padding: 5px 10px;font-size: 13px;font-weight: bold;line-height: 18px;color: #333;text-shadow:  none !important;background-color: #CCC;background-repeat: no-repeat;background-image: none !important;border: 1px solid #CCC;cursor: pointer;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
.wrapper-mobile_gallery .actions .promotional, .firefox-download .promotional {
-webkit-animation-name: none !important;-webkit-animation-duration: none !important;-webkit-animation-iteration-count: none !important;
}
.tweet-box textarea:focus, .tweet-box input[type="text"] {
border: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
input:focus, textarea:focus {
outline: 0;color: #333;border: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
.tweet-box textarea {
resize: vertical;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
input, textarea, select {
display: inline-block;width: 210px;padding: 4px;margin: 0;outline: none;background: white !important;border: none !important;
}
.btn-tweet {
float: left;background-color: #019AD2 !important;padding: 5px 43px 5px 10px;font-size: 12px;line-height: 20px;color: #BBB;text-shadow: none !important;border:none!important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important; top: 5px !important;right: 2px !important;
}
.btn:hover, .photo-selector:not(.disabled):hover .btn, .follow-combo.open .btn-user-actions, .user-dropdown.open {
text-decoration: none;background-color: #2667A0 !important;background-image: none !important;filter: none !important;border-color: #BBB;
}
.new-tweets-bar {
position: relative;top: -1px;font-size: 13px;display: block;padding: 10px 1px;cursor: pointer;text-align: center;text-shadow: 0 1px 0 rgba(255, 255, 255, .6);font-weight: normal;background-color: whiteSmoke;border-top: 1px solid #DDD;z-index: 2;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
}
.open.stream-item {
margin: 0px !important; border-left: 10px solid #666 !important;border-bottom: none !important ;margin-bottom: 10px !important;border-top: 1px solid #666 !important;
}
.stream-end, .stream-loading, .stream-whale-end {
margin-bottom: 0px !important;
}
.nav {
margin-left: 14px !important;
}
.twttr-dialog-close b {
display: block !important;font-size: 30px !important;color: #CCC !important;
}
.twttr-dialog-close b:hover {
color: #000 !important;
}
.twttr-dialog-header .twttr-dialog-close, .profile-modal-header .twttr-dialog-close {
float: right;width: 12px;margin-right:5px !important;margin-top: -5px !important;height: 13px;background: none !important;cursor: pointer;
}
.global-nav .well {
padding: 0px !important;margin-top: 0px !important;
}
.unfollow-text { background: FF0000 !important; }
.sm-reply, .sm-rt, .sm-fav, .sm-image, .sm-video, .sm-audio, .sm-geo, .sm-in, .sm-lock, .sm-trash, .sm-page, .sm-embed, .sm-summary, .sm-chat, .sm-bird, .sm-top-tweet {
height: 13px;
background-color: ;
}